@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700&display=swap');

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
/*CORES JOSIE*/
.cores {
    background-color:
    #f20089
    #e500a4
    #db00b6 
    #d100d1
    #bc00dd
    #b100e8
    #a100f2
    #8900f2
    #6400f4
    #2d00f7
    #8e4b9e
}
body {
    width: 100%;
    font-family: 'League Spartan', sans-serif;
    font-size: 14px;
}
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
/*HEADER LOGO CONTACTS*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #FFF;
}
.logo {
    background-image: url('../images/avatar.png');
    width: 100px;
    height: 100px;
    background-size: cover;
}
.navbar {
    height: 100px;
    width: auto;
}
.navbar ul{
    height: 90px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar li{
    height: 35px;
    width: 35px;
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    text-align: center;
}
#logo--email {
    width: auto;
    margin: auto;
    height: auto;
}
#logo--email a{
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-size: 22px;
    height: 15px;
    transition: 0.5s;
}
#logo--email a img {
    background-color: #8e4b9e;
    height: 12px;
    line-height: 21px;
    width: auto;
}
#logo--email a:hover{
    opacity: 0.5;
}
#logo--instagram,
#logo--linkedin,
#logo--whatsapp {
    text-decoration: none;
    height: 100%;
    width: 100%;
}
.navbar img{
    height: 30px;
    width: auto;
    transition: 0.3s;
}
.navbar li:hover a img{
    height: 35px;
    opacity: 0.5;
}


/*BANNER*/
#banner {
    background: rgba(242, 0, 137, 0.1);
    border-top: 1px solid #8e4b9e;
    border-bottom: 1px solid #8e4b9e;
}
.banner {
    height: calc(100vh - 100px);
    display: flex;
    justify-content:center;
    align-items:center;
}
.banner>img {
    height: 100%;
    width:auto;
    max-height: calc(100vh -100px);
    
}
/*ABOUT */
#about-me {
    border-bottom: 1px solid #8e4b9e;
}
.about-me {
    margin-top: 30px;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-left {
    flex:1;
    height: 400px;
    background-color: #8e4b9e;
    border-radius: 50%;
    border: 1px solid #8e4b9e;
    overflow: hidden;
}
.about-left img{
    height: 100%;
    width: auto;
}
.about-right {
    flex: 2;
    padding-left: 50px;
    padding: 20px;
    margin: 20px 0;
}
.about-right h1{
    font-size: 80px;
    margin-bottom: 30px;
    font-weight: 700;
    text-shadow: 3px 5px 5px #8e4b9e;
}
.about-right p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 30px;
}

/*COURSES*/
#courses {
    text-align: center;
    background: rgba(242, 0, 137, 0.1);
    background: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
    padding: 20px 0;
    border-bottom: 1px solid #8e4b9e;
}
.courses {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.courses--title span{
    font-size: 80px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #8e4b9e;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px #FFF;
}
.courses--itens {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 30px;
}
.courses--itens img{
    width: 200px;
    height: 200px;
}
.courses--item1,
.courses--item2,
.courses--item3 {
    border-radius: 6px;
}
.courses-link {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 470px;
    max-width: 320px;
    max-height: 500px;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    color: #FFF;
    border-radius: 10px;
    padding: 10px;
    transition: all ease-in-out .5s;
}
.courses-link>.courses--saber-mais{
    width: 100%;
    height: 50px;
    bottom: 0;
}
.courses-link:hover {
    background: #8e4b9e;
    border-color:#8e4b9e;
}
.courses-link:hover .courses--saber-mais{
    background-color: #FFF;
    color: #8e4b9e;
}
.courses--item-title {
    color: #8e4b9e;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;  
    text-shadow: 2px 2px 5px #FFF; 
}
.courses-link:hover .courses--item-title{
    color: #FFF;
    text-shadow: none; 
}
.courses--description {
    margin-top:10px;
    font-size: 16px;
}
.courses--saber-mais{
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    text-transform: uppercase;
    height: 50px;
    background-color: #8e4b9e;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.5s;
}

/*DEPOIMENTS*/
.depoiments {
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    border-bottom: 1px solid #8e4b9e;
    padding-bottom: 20px;
}
.depoiments--title {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}
.depoiments--title span{
    font-size: 20px;
    color: #8e4b9e;
}   
.depoiments--area {
    display: flex;
    align-items: center;
    justify-content:space-between;
    max-height: 100%;
    width: 1300vw;
    transition: all 0.5s; 
}
.depoiments--foto {
    width: 100px;
    height: auto;
    max-height: 100px;
    border-radius: 50%;
    background-color: #CCC;
    overflow: hidden;
    margin:auto;
}
.depoiments--foto>img{
    height: 100%;
    width: 100%;
}
.depoiments--name {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px 5px 0px;
}
.depoiments--desc {
    font-size: 16px;
    margin-bottom: 15px;
}
.depoiments--item-title p{
    font-size: 22px;
    line-height: 33px;
}
.depoiments--quote {
    margin: 5px 0;
}
.depoiments--item {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1140px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.depoiments--item-title {
    display: flex;
}
.depoiments--item-title p{
    line-height: auto;
}
.depoiments--pointers {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;   
}
.depoiments--pointers a{
    width: 20px;
    height: 20px;
    border: 2px solid #8e4b9e;
    border-radius: 10px;
    margin-top: 15px;
    transition: 0.3s;
}
.depoiments--pointer:hover,
.depoiments--pointers a.active{
    background-color: #8e4b9e;
}
.depoiments--pointers a:not(:last-child) {
    margin-right: 30px;
}


/*ARTICLE*/
#article {
    background: rgba(242, 0, 137, 0.1);
    padding-top: 50px;
    padding-bottom: 20px;
}
#article h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}
.article {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 30px;
}
.article a {
    flex:1;
    text-decoration: none;
    list-style: none;
    color: #000;
    padding: 20px 0px;
    transition: all 0.3s  ease-in-out;
}
.article a:hover {
    background: rgba(242, 0, 137, 0.1);
    border-radius: 10px;
}
.article--item {
    height: auto;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article--date {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: #8e4b9e;
    color: #FFF;
    font-weight: 600;
    margin: 10px 0px;
}
.article--foto {
    display: block;
    width: 100%;
    height:250px;
    background-color: #FFF;
    margin-bottom: 10px;
}
.article--foto>img{
    width: 100%;
    max-height: 100%;
}
.article--title {
    display: block;
    font-size: 24px;
    margin: 20px 0px;
}
.article--text {
    line-height: 20px;
}

/*FOOTER*/
#footer {
    padding: 30px 0;
}
#footer a {
    text-decoration: none;
    list-style: none;
}
#footer a:hover {
    opacity: 0.5;
    transition: 0.3s;
}
.footer--contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.footer--contact a{
    display: inline-block;
    color: #000;
    font-size: 22px;
    height: 15px;
}
.footer--left,
.footer--center,
.footer--right {
    flex:1;
    text-align: center;
}

/*SOCIAL MEDIA*/
.contact-social ul{
    height: 33px;
    list-style: none;
    display: inline-flex;
}
.contact-social ul li a {
    display: inline-block;
    height: 38px;
    margin-right: 40px;
}
.contact-social li a img{
    background-color: #FFF;
    height: inherit;
    border-radius: 10px;
}
.footer--right a img{
    width: 100px;
    height:auto;
}
.footer--developer {
    display: flex;
    justify-content:center;
    align-items:center;
    border-top: 1px solid #8e4b9e;
    font-size: 15px;
    padding-top: 20px;
}
.footer--developer a span{    
    color: #8e4b9e;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 5px;
    font-weight: 600;
}


/* RESPONSIVENESS */
@media (min-width: 768px) and (max-width: 1024px) {

    .about-me{
        flex-direction: column;
        text-align: center;  
    }
    .about-left img{
        height: 400px;
    }
    .article--item{
        max-width: 460px;
    }
    .article--foto{
        height: auto;
    }
    #footer>a {
        font-size: 21px;
    }
    .banner>img{
        width:100%;
        height: auto;
    }
}

@media (min-width: 425px) and (max-width: 767px){
    #header {
        background-color: #FFF;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid #8e4b9e;
    }
    .banner>img{
        width:100%;
        height: auto;
    }
    .logo {
        display: none;
    }
    li#logo--email {
        display: none;
    }
    .navbar {
        width: 100%;
        height: 80px;
    }
    .navbar img {
        height: 50px;
    }
    .navbar ul{
        height: inherit;
        gap: 60px;
    }
    .navbar li {
        margin: 0;
    }
    .about-me{ 
        display: block;
        text-align: center; 
    }
    .about-left {
        width: 260px;
        height: 260px;
        margin: auto;
    }
    .about-right {
        padding-left: 40px;
        padding-right: 40px;
    }
    .about-right h1 {
        font-size: 58px;
    }
    .courses-link {
        background-color: #8e4b9e;
        color: #FFF;
       
    }
    .courses--item-title {
        color: #FFF;
        text-shadow: none; 
    }
    .courses--itens {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .courses--saber-mais{
        color: #8e4b9e;
        background-color: #FFF;
    }
    .courses-link:not(:first-child) {
        margin-top: 30px;
    }
    .depoiments--item {
        padding: 0 30px;
    }
    .depoiments--area {
        height: auto;
        max-height: 800px;
    }
    .depoiments--item-person{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .depoiments--item-person-data{
        margin-left: 20px;
    }
    .depoiments--title {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .depoiments--title h2 {
        font-size: 25px;
    }
    .depoiments--pointers{
        display: none;
    }
    .depoiments--quote {
        display: none;
    }
    .depoiments--foto {
        width: 50px;
        height: 50px;
    }

    .depoiments--area .depoiments--item:nth-child(1) .depoiments--item-title p, 
    .depoiments--area .depoiments--item:nth-child(4) .depoiments--item-title p,
    .depoiments--area .depoiments--item:nth-child(9) .depoiments--item-title p,
    .depoiments--area .depoiments--item:nth-child(13) .depoiments--item-title p {
        font-size: 25px;
        line-height: 50px;
    }
    .depoiments--area .depoiments--item:nth-child(3) .depoiments--item-title p,
    .depoiments--area .depoiments--item:nth-child(5) .depoiments--item-title p{
        font-size: 21px;
    }
    .depoiments--area .depoiments--item:nth-child(6) .depoiments--item-title p,
    .depoiments--area .depoiments--item:nth-child(7) .depoiments--item-title p {
        font-size: 25px;
    }
    .depoiments--area .depoiments--item:nth-child(8) .depoiments--item-title p{
        font-size: 20px;
    }
    .depoiments--area .depoiments--item:nth-child(10) .depoiments--item-title p{
        font-size: 19px;
    }

    .depoiments--area .depoiments--item:nth-child(1),
    .depoiments--area .depoiments--item:nth-child(3),
    .depoiments--area .depoiments--item:nth-child(5){
        margin: auto;
    }
    .depoiments--area .depoiments--item:nth-child(12) .depoiments--item-title p {
        font-size: 16px;
        line-height: 30px;
    }
    .article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .article--foto{
        height: inherit;
    }
    .footer--contact {
        flex-wrap: wrap;
    }
    .footer--contact a {
        margin-bottom: 20px;
    }
    .footer--developer {
        flex-wrap: wrap;
        text-align: center;
    }
    .footer--developer a{
        margin-top: 10px;
    }
    
}

@media (min-width: 320px) and (max-width: 424px) {

    #header {
        background-color: red;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid #8e4b9e;
    }
    .banner>img{
        width:100%;
        height: auto;
    }
    .logo {
        display: none;
    }
    li#logo--email {
        display: none;
    }
    .navbar {
        width: 100%;
        height: 80px;
    }
    .navbar img {
        height: 50px;
    }
    .navbar ul{
        height: inherit;
        gap: 60px;
    }
    .navbar li {
        margin: 0;
    }
    .about-me{ 
        display: block;
        text-align: center; 
    }
    .about-left {
        width: 260px;
        height: 260px;
        margin: auto;
    }
    .about-right {
        padding-left: 40px;
        padding-right: 40px;
    }
    .about-right h1 {
        font-size: 58px;
    }
    .courses-link {
        background-color: #8e4b9e;
        color: #FFF;
       
    }
    .courses--item-title {
        color: #FFF;
        text-shadow: none; 
    }
    .courses--itens {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .courses--saber-mais{
        color: #8e4b9e;
        background-color: #FFF;
    }
    .courses-link:not(:first-child) {
        margin-top: 30px;
    }
    .depoiments--item {
        padding: 0 30px;
    }
    .depoiments--area {
        height: auto;
        max-height: 800px;
    }
    .depoiments--item-person{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .depoiments--item-person-data{
        margin-left: 20px;
    }
    .depoiments--title {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .depoiments--title h2 {
        font-size: 25px;
    }
    .depoiments--pointers{
        display: none;
    }
    .depoiments--quote {
        display: none;
    }
    .depoiments--foto {
        width: 50px;
        height: 50px;
    }

    .depoiments--area .depoiments--item:nth-child(1) .depoiments--item-title p, 
    .depoiments--area .depoiments--item:nth-child(4) .depoiments--item-title p,
    .depoiments--area .depoiments--item:nth-child(9) .depoiments--item-title p,
    .depoiments--area .depoiments--item:nth-child(13) .depoiments--item-title p {
        font-size: 25px;
        line-height: 39px;
    }
    .depoiments--area .depoiments--item:nth-child(2) .depoiments--item-title p,
    .depoiments--area .depoiments--item:nth-child(3) .depoiments--item-title p,
    .depoiments--area .depoiments--item:nth-child(5) .depoiments--item-title p {
        line-height: 23px;
    }
    .depoiments--area .depoiments--item:nth-child(3) .depoiments--item-title p,
    .depoiments--area .depoiments--item:nth-child(5) .depoiments--item-title p{
        font-size: 21px;
    }
    .depoiments--area .depoiments--item:nth-child(6) .depoiments--item-title p,
    .depoiments--area .depoiments--item:nth-child(7) .depoiments--item-title p{
        line-height: 28px;
    }
    .depoiments--area .depoiments--item:nth-child(7) .depoiments--item-title p,
    .depoiments--area .depoiments--item:nth-child(6) .depoiments--item-title p {
        font-size: 25px;
    }
    .depoiments--area .depoiments--item:nth-child(8) .depoiments--item-title p{
        font-size: 20px;
        line-height: 23px;
    }
    .depoiments--area .depoiments--item:nth-child(10) .depoiments--item-title p{
        font-size: 19px;
        line-height: 24px;
    }
    .depoiments--area .depoiments--item:nth-child(11) .depoiments--item-title p{
        line-height: 30px;
    }

    .depoiments--area .depoiments--item:nth-child(1),
    .depoiments--area .depoiments--item:nth-child(3),
    .depoiments--area .depoiments--item:nth-child(5){
        margin: auto;
    }
    .depoiments--area .depoiments--item:nth-child(12) .depoiments--item-title p {
        font-size: 17px;
        line-height: 20px;
    }

    .depoiments--area .depoiments--item:nth-child(8) .depoiments--foto{
        width: 100px;
    }
    .article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .article--foto{
        height: inherit;
    }
    .footer--contact {
        flex-wrap: wrap;
    }
    .footer--contact a {
        margin-bottom: 20px;
    }
    .footer--developer {
        flex-wrap: wrap;
        text-align: center;
    }
    .footer--developer a{
        margin-top: 10px;
    }
    
}

@media (max-width: 319px) {
    
}
