@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700&display=swap');

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
/*CORES JOSIE*/
.cores {
    background-color:
    #f20089
    #e500a4
    #db00b6 
    #d100d1
    #bc00dd
    #b100e8
    #a100f2
    #8900f2
    #6400f4
    #2d00f7
    #8e4b9e
}
body {
    width: 100%;
    font-family: 'League Spartan', sans-serif;
    font-size: 14px;
}
.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
/*HEADER LOGO CONTACTS*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}
.logo {
    background-image: url('../images/avatar.png');
    width: 100px;
    height: 100px;
    background-size: cover;
}
.navbar {
    height: 100px;
    width: auto;
}
.navbar ul{
    height: 90px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar li{
    height: 35px;
    width: 35px;
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    text-align: center;
}
#logo--instagram,
#logo--linkedin,
#logo--whatsapp {
    text-decoration: none;
    height: 100%;
    width: 100%;
}
.navbar img{
    height: 30px;
    width: auto;
    transition: 0.3s;
}
.navbar li:hover a img{
    height: 35px;
    opacity: 0.5;
}


/*BANNER*/
#banner {
    /* background: linear-gradient(#f20089,#FFF, #8900f2); */
    background: rgba(242, 0, 137, 0.1);
}
.banner {
    height: calc(100vh - 100px);
    background: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}


/*ABOUT */
.about-me {
    margin-top: 50px;
    display: flex;
}
.about-left {
    flex:1;
}
.about-right {
    flex: 1;
    padding-left: 50px;
}
.about-right h1{
    font-size: 60px;
    margin-bottom: 30px;
    font-weight: 700;
}
.about-right p {
    margin: 20px 0;
    line-height: 18px;
}
/*COURSES*/
#courses {
    text-align: center;
    background: rgba(242, 0, 137, 0.1);
    background: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
    padding: 20px 0;
}
.courses {
    margin-top: 50px;
}
.courses--title {
    font-size: 60px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #8e4b9e;
    text-transform: uppercase;
}
.courses--itens {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.courses--item1,
.courses--item2,
.courses--item3 {
    width: 300px;
    height: 300px;
    background-color: #FFF;
    background: url('../images/courses/kami.jpeg');
}
.courses--item1 {
    background: url('../images/courses/kami.jpeg');
}
.courses--item2 {
    background: url('../images/courses/jamboard.jpeg');
}
.courses--item3 {
    background: url('../images/courses/sos.jpeg');
}
.courses-link {
    text-decoration: none;
    list-style: none;
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 10px;
    padding: 10px;
    transition: .3s;
}
.courses-link:hover {
    background: #8e4b9e;
    border-color:#8e4b9e;
    opacity: .5s;
}
.curses--title {
    padding-top: 10px;
    border-top: 2px solid #FFF;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;   
}
.courses--description {
    margin-top:10px;
    font-size: 16px;
}

footer {
    height:500px;;
}


